name: Test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.32.2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: 'pnpm'

      # - uses: actions/cache@v3
      #   with:
      #     path: node_modules
      #     key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: pnpm install

      - name: Run rollup
        run: pnpm build:hmr

      - name: Test
        run: pnpm test
